<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.xwalktest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--android:hardwareAccelerated="true"-->
    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
        <!--android:theme="@style/AppTheme"-->
        <activity
            android:name=".BrowserActivity"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="coocaa.intent.action.browser.test" />

                <category android:name="coocaa.intent.category.APP_NO_UNINSTALL" />
                <category android:name="coocaa.intent.category.MYAPP_DISMISS" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="file" />

                <action android:name="app_browser.intent.action.WEBVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BrowserNoTransActivity"
            android:excludeFromRecents="true"
            android:theme="@style/BrowserNoTranslucent">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="coocaa.intent.action.browser.no_trans.test" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BrowserNoRouteActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="coocaa.intent.action.browser.no_route.test" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BrowserNoTransNoRouteActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:theme="@style/BrowserNoTranslucent">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="coocaa.intent.action.browser.no_trans.no_route.test" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CordovaView.BrowserCacheViewActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:process=":cache"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="coocaa.intent.action.browser.trans_cache_view.test" />
            </intent-filter>
        </activity>

        <service android:name=".CordovaView.CordovaViewCacheService"
            android:process=":cache">
            <intent-filter>
                <action android:name="coocaa.intent.action.browser.cache_web_service" />
                <action android:name="coocaa.intent.action.browser.cache_web_activity" />
            </intent-filter>
        </service>
        <receiver android:name=".CordovaView.CordovaViewTestBroadcast" >
            <intent-filter>
                <action android:name="browser.test_broadcast.test" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".BrowserXWalkActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="coocaa.intent.action.browser.xwalk" />
            </intent-filter>
        </activity>



   <!--     <activity android:name=".XWalkWebViewActivity">

            &lt;!&ndash; <intent-filter> &ndash;&gt;
            &lt;!&ndash; <action android:name="android.intent.action.MAIN" /> &ndash;&gt;
            &lt;!&ndash; <category android:name="android.intent.category.LAUNCHER" /> &ndash;&gt;
            &lt;!&ndash; </intent-filter> &ndash;&gt;

            <intent-filter>
                <action android:name="com.qjy.action.browser" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SystemWebViewActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            &lt;!&ndash;<intent-filter>&ndash;&gt;
                &lt;!&ndash;<action android:name="android.intent.action.MAIN" />&ndash;&gt;

                &lt;!&ndash;<category android:name="android.intent.category.LAUNCHER" />&ndash;&gt;
            &lt;!&ndash;</intent-filter>&ndash;&gt;
            <intent-filter>
                <action android:name="com.qjy.action.browser2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CordovaView.BrowserCacheViewActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:process=":cache"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="coocaa.intent.action.browser.trans_cache_view" />
            </intent-filter>
        </activity>
        <service android:name=".CordovaView.CordovaViewCacheService"
            android:process=":cache">
            <intent-filter>
                <action android:name="coocaa.intent.action.browser.cache_web_service" />
                <action android:name="coocaa.intent.action.browser.cache_web_activity" />
            </intent-filter>
        </service>
        <receiver android:name=".CordovaView.CordovaViewTestBroadcast" >
            <intent-filter>
                <action android:name="browser.test_broadcast.xwalk" />
            </intent-filter>
        </receiver>-->


    </application>

</manifest>